<router-outlet></router-outlet>
<div class="card">
    <div class="card-header row">
        <h3 class="col-3">{{title}}</h3>
        <div>
            <form class="form-inline" #newFilTUpld="ngForm" (ngSubmit)="filterlist()">
                <select name="s_fil_class" id="s_fil_class" [(ngModel)]="filter.classs"
                    class="form-control rounded-0 mx-3 d-inline" #s_fil_class="ngModel" 
                    [class.is-invalid]="s_fil_class.invalid && s_fil_class.touched" required>
                    <option value="" selected>Select Class</option>
                    <option *ngFor="let dl of classlist" [value]="dl">{{dl}}</option>
                </select>
                <small class="text-danger" [class.d-none]="s_fil_class.valid || s_fil_class.untouched">Enter a Subject</small>
                <!-- <select name="s_fil_sub" id="s_fil_sub" [(ngModel)]="filter.subjects"
                    class="form-control rounded-0 mx-3 d-inline"  #s_fil_sub="ngModel" 
                    [class.is-invalid]="s_fil_sub.invalid && s_fil_sub.touched" required>
                    <option value="" selected>Select Subject</option>
                    <option *ngFor="let dl of subjectlist" [value]="dl">{{dl}}</option>
                </select>
                <small class="text-danger" [class.d-none]="s_fil_sub.valid || s_fil_sub.untouched">Enter a Subject</small> -->

                <button type="submit" [disabled]="newFilTUpld.form.invalid" class="btn btn-info"
                    (click)="filterlist()">Get
                    Student Uploads</button>
            </form>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Upload</th>
                        <th *ngIf="loggedIn()">Edit</th>
                        <th *ngIf="loggedIn()">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let s_upload of s_uploads'>
                        <td>{{ s_upload.description }}</td>
                        <td>{{ s_upload.upload}}</td>
                        <td *ngIf="loggedIn()"><a routerLink='edit_s_upload/{{s_upload._id}}'
                                class="btn btn-primary">Edit</a></td>
                        <td *ngIf="loggedIn()"><a (click)="deleteT_Upload(s_upload._id)" style="color:white"
                                class="btn btn-primary">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>