<div class="card">
    <div class="card-header">
        <h3>{{title}}</h3>
    </div>
    <div class="card-body">
        <div>
            <!-- <button (click)="addUser()" class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">New User</button>            
            <button (click)="editUser()" class="btn btn-info mx-3" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Edit Profile</button> -->
            <button (click)="addUser()" class="btn btn-info" type="button">New User</button>
            <button (click)="editUser()" class="btn btn-info mx-3" type="button">Edit Profile</button>
            <button *ngIf="MyValue" (click)="Hide()" class="btn btn-info" type="button">Hide</button>

            <br /><br />
            <label class="text-danger">{{msg}}</label>
            <!-- <div class="collapse" id="collapseExample"> -->
            <div *ngIf="MyValue">
                <div class="py-5">
                    <div class="row">
                        <div class="mx-auto">
                            <span class="anchor" id="formLogin"></span>
                            <!-- Form Card  -->
                            <div class="card rounder-0">
                                <div class="card-header">
                                    <h3 class="mb-0" *ngIf="edit_id==''">Register</h3>
                                    <h3 class="mb-0" *ngIf="edit_id!=''">Edit Profile</h3>
                                </div>
                                <div class="card-body">
                                    <form class="form" #userform="ngForm" (ngSubmit)="submitUser(userform)">
                                        <div class="form-group">
                                            <label name="email" for="uname1">E-mail</label>
                                            <input name="email" type="text" [(ngModel)]="user.email" #email="ngModel"
                                                [class.is-invalid]="email.invalid && email.touched"
                                                class="form-control rounded-0"
                                                pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required autofocus>
                                            <small class="text-danger"
                                                [class.d-none]="email.valid || email.untouched">Enter a valid
                                                E-mail</small>
                                        </div>
                                        <div class="form-group">
                                            <label>Password</label>
                                            <input name="password" type="password" [(ngModel)]="user.password"
                                                #password="ngModel"
                                                [class.is-invalid]="password.invalid && password.touched"
                                                class="form-control rounded-0" minlength="6" required>
                                            <small class="text-danger"
                                                [class.d-none]="password.valid || password.untouched">Enter a
                                                valid Password(Minimum Length - 6)</small>
                                        </div>
                                        <button type="submit" [disabled]="userform.form.invalid"
                                            class="btn btn-primary">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>E-mail</th>
                        <th>User Type</th>
                        <!-- <th>Edit</th>                        -->
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let user of users'>
                        <td>{{ user.email }}</td>
                        <td>{{ user.usertype }}</td>
                        <!-- <td *ngIf="_auth.loggedIn()">
                            <button (click)="editUser(user._id)" class="btn btn-primary mx-3" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Edit Profile</button>
                        </td> -->
                        <td *ngIf="_auth.loggedIn()"><a (click)="deleteUser(user._id)" class="btn btn-info"
                                style="color:white">Delete</a></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>