<div class="col-sm-8 col-md-6 mx-auto">
    <br/>

<div class="card rounder-0 bg-info text-center mx-auto">
    <div class="card-header bg-info mx-auto">
        <h3 class="mb-0">Login</h3><br />
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a routerLink="/login/student" class="nav-link text-dark" routerLinkActive="active">Student</a>
            </li>
            <li class="nav-item">
                <a routerLink="/login/teacher" class="nav-link text-dark" routerLinkActive="active">Teacher</a>
            </li>
            <li class="nav-item">
                <a routerLink="/login/admin" class="nav-link text-dark" routerLinkActive="active">Admin</a>
            </li>
        </ul>
    </div>
    <router-outlet></router-outlet>
</div>
</div>
