<div class="main">
    <div class="left">
    <app-sidenav></app-sidenav>
    </div>
    <div class="right">
        <h3>Welcome Admin</h3>
        <p>You can Add Subjects, Classes, Teachers and Students. 
            Option for adding Students is also available for teachers.
        Teachers can upload tutorial as Google doc links and Students can add its related 
    worksheets or answersheets as Google doc Links.</p>
        <router-outlet></router-outlet>
    </div>
</div>
<!-- <div class="d-inline-flex card p-2">
    <app-sidenav></app-sidenav>
</div>
<div class="d-inline-flex">
    <h3 class="p-2">Welcome Teacher</h3>    
    <router-outlet class="d-flex"></router-outlet>

</div> -->
